#############################################################
##  DRSVR Trace Driven Cache Simulator Configuration File  ##
##  CS203 - Advanced Computer Architecture                 ##
#############################################################
# power of 2
# unit: byte
$ CacheBlockSize = 256
# unit: kbyte
$ CacheSize = 2
# unit: kbyte
$ PageSize = 1
# 32 or 64 preferred Unit: bit
$ addressLine = 32
------------------------------------------------------------- 
# Direct Map: 1
# Fully associative: 0
$ Associativity = 1 
-------------------------------------------------------------
# Random: RANDOM
# Least Recently Used: LRU
# First In First Out: FIFO
$ ReplacementPolicies  = RANDOM
-------------------------------------------------------------
# unit: Mhz 
$ ClockFrequency = 3200  
# unit: cycle
$ CacheHitTime = 1
$ CacheMissPenalty = 100 
#############################################################
